@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #fff
}

li,a,button{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #87F416;
    text-decoration: none;
}

button{
    color: #fff;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5%;
}

.logo{
    cursor: pointer;
}

.nav_links{
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #87F416
}

button{
    padding: 5px 20px;
    background-color: rgba(135, 244, 22, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s
}

button:hover{
    background-color: rgba(135, 244, 22, 0.8);
}



/* Responsive Styles */
@media screen and (max-width: 767px) {

    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }
  
    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }
  
    .card.highlight-card span {
      margin-left: 72px;
    }
  
    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }
  
  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
  
  
  
  
  
