<meta name="viewport" content="width=device-width, initial-scale=1">
<table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col"><img src="./assets/plant.png" width="80"></th>
            <th scope="col"><img src="./assets/smartphone.png" width="80"></th>
            <th scope="col"><img src="./assets/locked.png" width="80"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Manage your coops</td>
            <td>Information in your hards</td>
            <td>Security of your data</td>
            
          </tr>
          <tr>
            <td><a class="estilo01" style="color: #8A9183;"> Ipsum is simply dummy text of 
                    the printing and typesetting industry.</a></td>
            <td><a class="estilo01" style="color: #8A9183;">Lorem Ipsum is simply dummy text of 
                    the printing and typesetting industry.</a></td>
            <td><a class="estilo01" style="color: #8A9183;">Lorem Ipsum is simply dummy text of 
                    the printing and typesetting industry.</a></td>
          </tr>
        </tbody>
</table>

      <hr>