h2{
    color: #87F416;
    align-content: center;
}

.titulo{
    color: #87F416;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
}

.titulo1{
    text-align: justify;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 50px;
}