<p class="titulo">Feature</p>
<div class="table-resposive">
<table class="table table-borderless">
        <thead>
          <tr>
            <td><p class="titulo1">Modern Prediction System <br>
                    Lorem Ipsum is simply dummy text of the printing
                    and typesetting industry. Lorem Ipsum has been
                    the industry's standard dummy text ever since
                    the 1500s,when an unknown printer took a galley
                    of type and scrambled it to make a type specimen
                    book. It has survived not only five centuries,
                    but also the leap into electronic typesetting,
                    remaining essentially unchanged.</p>
            </td>
            <th scope="col"><img src="./assets/k.jpg" class="rounded float-right" width="100%"></th>
          </tr>
        </thead>
</table>
</div>

      <hr>